input[type='button'],
input[type='submit'],
button,
a.button {
  display: table-cell;
  padding: 10px 20px;
  background: $color-brand-accent;
  border: 0;
  border-radius: 0;
  color: $color-canvas;
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover,
  &:focus {
    background: $color-brand-accent2;
    color: $color-brand;
  }

}
