.sticky-nav {

  @media (max-width: breakpoint(small)) {
    display: none;
  } // @media (max-width: breakpoint(small))

  &.fixed {
    max-width: 1060px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    @media (max-width: breakpoint(large)) {
      padding-right: 20px;
    } // @media (max-width: breakpoint(large))

    .logged-in & {
      top: 30px;
    } // .logged-in &

  } // &.fixed

  &__wrapper {

    &--negative-bottom {
      margin-bottom: -90px;
      z-index: 2;
      position: relative;
    } // &--negative-bottom

    &.is-fixed {
      height: 62px;
    } // &.is-fixed

    @media (max-width: breakpoint(small)) {
      display: none;
    } // @media (max-width: breakpoint(small))

  } // &__wrapper

  ul {
    background: $color-brand-accent;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;

    .no-flexbox & {
      display: table;
    } // .no-flexbox &

  } // ul

  li {
    background: none;
    cursor: default;
    float: none;
    padding: 0;
    width: 100%;

    .no-flexbox & {
      border: solid 1px $color-program-1;
      display: table-cell;
      float: none;
      min-height: 62px;
      text-align: center;
      vertical-align: middle;
      width: auto;
    } // .no-flexbox &

  } // li

  a {
    border: solid 1px $color-program-1;
    color: $color-canvas;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: $font-weight-normal;
    height: 100%;
    justify-content: center;
    line-height: 1.1em;
    min-height: 62px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    .no-flexbox & {
      border: 0;
      display: inline-block;
      float: none;
      min-height: 0;
      text-align: center;
      vertical-align: middle;
      width: auto;
    } // .no-flexbox &

    @media (max-width: breakpoint(large)) {
      font-size: 13px;
      padding: 10px 5px;
    } // @media (max-width: breakpoint(large))

    &:hover,
    &:focus {
      background: $color-brand-accent2;
      border: solid 1px $color-brand-accent2;
      color: $color-brand;

      .no-flexbox & {
        background: transparent;
        border: 0;
        color: $color-brand-accent2;
      } // .no-flexbox &

    } // &:hover, &:focus

    &.is-active {
      background: $color-brand-accent2;
      border: 0;
      color: $color-brand;
      pointer-events: none;
      position: relative;

      .no-flexbox & {
        background: $color-brand-accent;
        border: 0;
        color: $color-brand-accent2;
      } // .no-flexbox &

      &:before {
        background: $color-brand-accent2;
        bottom: -16px;
        content: '';
        display: block;
        height: 18px;
        left: 50%;
        position: absolute;
        transform: rotate(45deg) translateX(-50%);
        width: 18px;

        .no-flexbox & {
          display: none;
        } // .no-flexbox &

      } // &:before

    }

  } // a

} // .sticky-nav
